/* Font */
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* shared */

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;

}

/* Header */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* banner design */
.banner-greetings {

    font-size: 45px;
    font-weight: 600;

}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}

.banner-profile-pic {
    width: 580px;

}

.banner-content {
    max-width: 585px;
}